.logo img {
    max-width: 300px;
}

.logo {
    text-align: center;
}

header {
    text-align: center;
}

.col-head {
 font-weight: bold;
 text-align: left;
}


footer {
    text-align: left;
}

.cents {
    text-align: left;
    margin: 0%;
    padding:0%;
}
.dollars {
    padding:0%;
    text-align: right;
    margin: 0%;
}
.decimal {
    margin: 0%;
    padding:0%
}
table {
    min-width: 100%;
}
@media print {
button, input {
    display: none;
}

}
