<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">

    <title>Quote Generator</title>
  </head>
  <body id="printme">
    <div class="jumbotron">
      <div class="container">
        <button id="print-button" onclick="printPDF()">Print Quote</button>
        <header>
        <div class="logo"><img src="/images/logo.png" alt="AOLCC Logo" /></div>
        <h1>Official Quote for Training</h1>
        <p>Quote Date:
        <span id="issue-date"></span><br><input type="date" name="issue-date" id="custom-issue-date" onchange="setEffectiveDate()"></p>
        <p>Reference: <span id="student-ref-print"></span> <input type="text" name="student-ref" id="student-ref" onchange="updateStudentRef()"></p>
        
    </header>  
    </div>
    </div>
    <main>
        <form onchange="convert()">
        <table>
            <tbody>
                <tr>
                    <td class="col-head">Tuition</td>
                    <td class="data" id="tuition">$<td class="dollars" id="tuition-dollars"></td><td class="decimal">.</td><td id="tuition-cents" class="cents"></td></td><td><input type="number" step=0.01 name="tuition" id="tuitioninput" value="389.00"></td>
                </tr>
                <tr>
                    <td class="col-head">&nbsp;<br>Books</td>
                    <td class="data" id="books">$<td class="dollars" id="books-dollars"></td><td class="decimal">.</td><td id="books-cents" class="cents"></td></td><td><input type="number" step=0.01 name="books" id="booksinput" value="40.00"></td>
                </tr>
                <tr>
                    <td class="col-head">&nbsp;<br>Registration and Administration Fees</td>
                    <td class="data" id="fees">$<td class="dollars" id="fees-dollars"></td><td class="decimal">.</td><td id="fees-cents" class="cents"></td></td><td><input type="number" step=0.01 name="fees" id="feesinput" value="354.00"></td>
                </tr>
                <tr style="border-style:none;">
                  <td colspan="5" ><i>**Advanced Certificate or Diploma Only</i><br>
                  <i>***Abbotsford and Langley Campuses do not charge fees for Individual Courses</i></td>
              </tr>
                <tr>
                    <td class="col-head">&nbsp;<br>Shipping and Handling</td>
                    <td class="data" id="sandh">$<td class="dollars" id="sandh-dollars"></td><td class="decimal">.</td><td id="sandh-cents" class="cents"></td></td><td><input type="number" step=0.01 name="sandh" id="sandhinput" value="24.00"></td>
                </tr>
                
                
            </tbody>
        </table>
    </form>
    </main>
      </div>
    </div>
<footer onclick="changeCampus()">
    <span id="locationID" style="display:none;">1</span>
    *** Quote Valid for 30 days - until <span id="expirydate"></span><br>
    <b><u>Please confirm sponsorship to:</u></b> <br>
    Academy of Learning Career College <span id="locationname"></span><br>
    <span id="locationaddress-line1"></span>, <span id="locationaddress-city"></span>, BC,  <span id="locationaddress-postalcode"></span><br>
    <br>
    Phone: <span id="location-phone"></span> <br>
    Fax: <span id="location-fax"></span><br>
    <span id="location-email"></span>
</footer>
<script src="/js/jspdf.umd.min.js"></script>
<script src="/js/html2canvas.min.js"></script>
<script src="/js/generatequote.js"></script>

<script>
    const params = new URLSearchParams(window.location.search);
    let name = params.get("name");
    if (name == undefined ){
    name=0
    }
    updateFooter(name);
    convert()
    // let currentDate = document.getElementById("custom-issue-date").value
    // document.getElementById("issue-date").innerText = currentDate.format()
    // document.getElementById("custom-issue-date").value = currentDate.format()
    
    setEffectiveDate('init')
</script>

  </body>
</html>